<ion-header>
  <ion-toolbar>
    <ion-title> Formulaire des tâches</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="validateForm()"> Valider
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nom de la tâche</ion-label>
      <ion-input type="text" [(ngModel)]="task.taskName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start" [(ngModel)]="task.done"></ion-checkbox>
      <ion-label>Déjà Fait</ion-label>
    </ion-item>
  </ion-list>

</ion-content>