<ion-header>
  <ion-toolbar>
    <ion-title>user-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ion-item *ngFor="let user of userList">
      <ion-label>{{ user.name.first }} {{ user.name.last }}
      </ion-label>
      <ion-avatar slot="start">
        <ion-img src="{{ user.picture.large}}">
        </ion-img>
      </ion-avatar>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMoreUsers($event)">
    <ion-infinite-scroll-content loadingText="ca vient ...." loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>